body  {
    background-image: url("../images/tree_bark.png");
    background-color: #cccccc;
}

a:link {
	color: #777777;
	text-decoration: none;
}

a:visited {
	color: #777777;
}

a:hover {
	color: #4aaaa5;
}

a:active {
	color: #777777;
	text-decoration: none;
}

h1 {
	color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 30px;
}

#myname {
	color: #ffffff;
	margin-left:-10px;
}

#Navigation {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	background-color:white;
	border-bottom: 2px solid #cccccc;
	overflow:hidden;
}

#navigationcontent {
	width: 960px;
	position: relative;
	top: 10px;
	left: 200px;
	height: 90px;
	float: left;
	line-height: 90px;
}

#namebox {
	background-color:#4aaaa5;
	position: absolute;
	top: 10px;
	left: 0px;
	width: 250px;
	height: 90px;
	text-align: center;
	float:left;
	line-height: 90px;
	color:#777777;
}

#navigationbuttons {
	position: absolute;
	display:block;
	top: 0px;
	right: -30px;
	width: 300px;
	height: 90px;
	line-height: 90px;
}

.buttons {
	float: left;
	margin: 5px 10px auto 10px;
	line-height: 100px;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #a3aaaf;
}

#maincontainer {
	width: 960px;
	position: relative;
	top: 130px;
	left: 200px;
	float: left;
}

#maincontent {
	width: 650px;
	float: left;
	margin-top: 10px;
	margin-bottom: 150px;
	background-color:#fff;
	border: 2px solid #e5e5e5;
}

#pagetitle {
	color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 30px;
	margin: 30px auto 30px 40px;
}

.mypic {
	width: 200px;
	height: 150px;
}

.line-divider {
	height:1px;
	width: 575px;
	margin: 0 auto;
	background:#e5e5e5;
	border-bottom: 3px solid #e5e5e5;
}

#container {
	float: left;
	position: relative;
}

.resize {
	width: 270px;
	height: 200px;
}

.pictures {
	width: 270px;
	position: relative;
	float: left;
	margin-top: 40px;
	margin-left: 37px;
	margin-bottom: 10px;
}


.label {
	width: 270px;
	height: 50px;
	position: absolute;
	bottom: 15px;
	float: left;
	background-color:#4aaaa5;
}

.labeltext {
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 20px;
	color:white;
	margin: 12px auto auto 85px;
}

#iconcontainer {
	width: 270px;
}

.bw {
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.bw:hover {
	-webkit-filter: grayscale(100%);
}

.mediaicons {
	width: 64px;
	height: 64px;
}

#Rutgers {
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 20px;
	color:white;
	margin: 12px auto auto 45px;
}

#RPS {
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 20px;
	color:white;
	margin: 12px auto 45px 45px;
}

#contact-form {
	float: left;
	width: 575px;
	height: 600px;
	margin: 12px auto auto 35px;
}

.formtext {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	margin-bottom: 0px;
	color: #8c8f91;
}

input::placeholder {
	color:#d8d7d9;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1.5px solid #d8d7d9;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color:#4aaaa5;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #919191;
}

#sidebox {
	width: 270px;
	height: 200px;
	margin-top: 10px;
	right: 0px;
	float: right;
	background-color:#fff;
	border: 2px solid #e5e5e5;
}

.mainimage {
	float: left;
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 20px;
}

.maintext {
	margin-top: 5px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 30px;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 175%;
	color: #777777;
}

h3 {
	color: #4aaaa5;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 23px;
	margin: 30px 30px 10px 30px;
}

#smalldivider {
	height:1px;
	width: 225px;
	margin: 20px auto auto auto;
	background:#e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

#github {
	margin: 20px 10px 20px 30px;
	float: left;
}

#linkedin {
	margin: 20px 10px 20px 0px;
	float: left;
}

#stackoverflow {
	margin: 20px 10px 20px 0px;
	float: left;
}

.footer {
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color:#666666;
	border-top: 8px solid #4aaaa5;
}

#copyright {
	margin: 40px 40%;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 175%;
	color: #a7a7ab;
}

/*Media Query - 980 Pixels*/


@media (max-width: 980px) {

	#navigationcontent {
		width: 75%;
		margin-left: -75px;
	}

	#namebox {
		margin-left: -35px;
		width: 30%;
	}

	#maincontainer {
		width: 75%;
		margin-left: -110px;
		margin-bottom: -200px;
		position: relative;
	}

	#maincontent {
		width: 60%;
		float: left;
		position: absolute;
	}

	.mypic {
		width: 106%;
		height: 200px;
		margin-left: -20px;
		margin-bottom: 20px;
	}

	.line-divider {
		width: 90%;
	}

	#contact-form {
		width: 90%;
		margin-bottom: -120px;
		margin-left: 18px;
	}

	#sidebox {
		width: 38%;
		float: right;
		position: absolute;
		margin-right: -20px;
	}

	#iconcontainer {
		width: 90%;
		height: 100px;
		margin-left: 40px;
	}

	h3 {
		margin-left: 20px;
		font-size: 22px;
	}

	#smalldivider {
		width: 85%;
	}

	#github {
		width: 30%;
		margin-left: -25px;
    	margin-top: 0px;
	}

	#linkedin {
		width: 30%;
		margin: 0 auto auto 0px;
	}

	#stackoverflow {
		width: 30%;
		margin: 0 auto auto 10px;
	}

	.mediaicons {
		width: 50px;
		height: 50px;
		margin-top: 20px;
	}

	#copyright {
		margin-left: 310px;
	}

	#container {
		margin-bottom: 20px;
	}

	.pictures {
		width: 90%;
	}

	.resize {
		width: 100%;
		height: 200px;
		margin-left: -20px;
	}

	.label {
		width: 100%;
		margin-left: -20px;
	}

	.labeltext {
		margin-left: 130px;
	}

	#Rutgers {
	margin-left: 80px;
	}

	#RPS {
	margin-left: 90px;
	}

	#pagetitle {
		margin-left: 20px;
	}


}

/*Media Query for 768 pixels*/
@media (max-width: 768px) {

	#navigationcontent {
		width: 75%;
		margin-left: -125px;
	}

	#namebox {
		margin-left: -18px;
		width: 30%;
	}

	#maincontainer {
		width: 75%;
		margin-top: 50px;
	}

	#maincontent {
		width: 100%;
		float: right;
		position: relative;
		margin-right: 30px;
	}

	#myname {
		font-size: 25px;
		margin-left: -2px;
	}

	#container {
		width: 100%;
		display: block;
	}

	#row {
		width: 100%;
	}

	#col-hangman {
		width: 50%;
		float: left;
		margin-left: -5px;
	}


	#col-RPG {
		width: 50%;
		float: left;
	}

	#col-Trivia {
		width: 50%;
		float: left;
		margin-left: -5px;
	}

	#col-Info {
		width: 50%;
		float: left;
	}

	#col-RPS {
		width: 50%;
		float: left;
		margin-left: -5px;
	}

	#sidebox {
		margin-right: 30px;
		width: 100%;
		position: relative;
		margin-bottom: 170px;
		margin-top: -100px;

	}

	.mainimage {
		width: 65%;
		height: 200px;
		margin-right: -100px;
	}

	.mypic {
		width: 65%;
		height: 190px;
		margin-left: -20px;
	}

	#text-container {
		width: 95%;
	}

	.maintext {
		width: 100%;
		margin-left: 15px;

	}

	.line-divider {
		width: 95%;
	}

	#contact-form {
		width: 92%;
		margin-bottom: -120px;
		margin-left: 18px;
	}

	#iconcontainer {
		width: 90%;
		height: 100px;
		margin-left: 40px;
	}

	h3 {
		margin-left: 20px;
		font-size: 22px;
	}

	#smalldivider {
		width: 95%;
	}

	#github {
		width: 30%;
		margin-left: -25px;
		margin-right: 20px;
    	margin-top: 0px;
	}

	#linkedin {
		width: 30%;
		margin-right: 20px;
		margin-left: -90px;
	}

	#stackoverflow {
		width: 30%;
		margin-left: -90px;
	}

	.mediaicons {
		margin-top: 20px;
	}

	#copyright {
		margin-left: 240px;
		margin-right: 20px;
	}

	.label {
		width: 100%;
		margin-left: -20px;
	}

	.labeltext {
		margin-left: 60px;
	}

	#Rutgers {
	margin-left: 20px;
	}

	#RPS {
	margin-left: 20px;
	}

	#pagetitle {
		margin-left: 12px;
	}



/*Media Query for max width 640 pixels*/
@media (max-width: 640px) {


	#Navigation {
		background-color: #4aaaa5;
		width: 100%;
		height: auto;
	}

	#navigationcontent {
		background-color: white;
		width: 100%;
		margin-top: 50px;
		margin-left: -200px;
	}

	#navigationbuttons {
		width: 75%;
		margin-right: 80px;
		margin-top: -10px;
	}

	.buttons {
		margin-left: 20px;
	}

	#allbuttons {
		width: 100%;
	}

	#namebox {
		margin-left: 0px;
		margin-top: -80px;
		width: 100%;
		height: 20px;
	}

	#maincontainer {
		width: 75%;
	}

	#maincontent {
		width: 100%;
		float: right;
		position: relative;
	}

	#myname {
		font-size: 25px;
		margin-left: -2px;
	}

	#container {
		width: 100%;
		margin: 0 auto;
	}

	.resize {
		width: 100%;
	}

	#col-hangman {
		width: 100%;
	}

	#col-RPG {
		width: 100%;
		margin-left: -4px;
	}

	#col-Trivia {
		width: 100%;
	}

	#col-Info {
		width: 100%;
		margin-left: -4px;
	}

	#col-RPS {
		width: 100%;
	}

	#sidebox {
		margin-right: 30px;
		width: 100%;
		position: relative;
		margin-bottom: 170px;
		margin-top: -100px;

	}

	.mainimage {
		width: 95%;
		height: 350px;
		margin-right: 80px;
		margin-left: 30px;
		margin-bottom: 30px;
	}

	.mypic {
		width: 100%;
		height: 350px;
	}

	#text-container {
		width: 90%;
	}

	.maintext {
		width: 100%;

	}

	.line-divider {
		width: 95%;
	}

	#contact-form {
		width: 90%;
		margin-bottom: -120px;
		margin-left: 18px;
	}

	#iconcontainer {
		width: 90%;
		height: 100px;
		margin-left: 40px;
	}

	h3 {
		margin-left: 20px;
		font-size: 22px;
	}

	#smalldivider {
		width: 95%;
	}

	#github {
		width: 30%;
		margin-left: -25px;
		margin-right: 40px;
    	margin-top: 0px;
	}

	#linkedin {
		width: 30%;
		margin-right: 20px;
		margin-left: -70px;
	}

	#stackoverflow {
		width: 30%;
		margin-left: -50px;
	}

	.mediaicons {
		margin-top: 20px;
	}

	#copyright {
		margin-left: 240px;
		margin-right: 20px;
	}

	.label {
		width: 100%;
		margin-left: -20px;
	}

	.labeltext {
		margin-left: 140px;
	}

	#Rutgers {
	margin-left: 90px;
	}

	#RPS {
	margin-left: 100px;
	}

	#pagetitle {
		margin-left: 12px;
	}
